{% extends 'base.html'%}
{% import "macros.html" as macro%}

<!-- news source block -->
{% block newsSource %}
<div class="container border rounded mt-3">
    <form class="row justify-content-center my-3">
        <div class="col-md-6">
            <input type="text" name="news_query" placeholder="Search for news" class="form-control ">
        </div>
        <div class="col-md-4">
            <input type="submit"  value="Search" class="btn btn-primary">
        </div>
    </form>
</div>
{{macro.displaySources(sources)}}
{% endblock newsSource %}


